

:root{
    --main-background: #191a25;
    --main-element-background: #353644;
    --whitecream-color: #fffbeb;
    --main-accent: #c0395d;
    --sidebar-bg: #212331;
    --gray-font: #d6d6d6;
    --test-color: #658252;
    --test-color-2: #23c19d;
    --test-color-3:  #004c98;

    --test-color-4:  #d14168;
}

.form-main{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    min-height: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 2560px;
    width: 100%;
    margin:0;
    padding:0;

}

/*
* form-main is displayed as flex and direction of columns >
* form-row displayed as flex and direction row which contains form-input-group,
* form-input-group is displayed as flex with COLUMN direction, and contains
* a label and an input above is the label and under is the input.

*/

.form-row{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    margin:0;
    padding: 0;
}

.form-input-group{
    display: flex;
    flex-direction: column ;
    position: relative;
    max-width: 33%;
    margin:0;
    padding:0;
    width: 30%;
}

.form-main > label {
    display: block;
    position: relative;
    margin: 0;

    /* padding-inline: .3rem; */
}

.form-main > input {
    display: block;
    position: relative;
    margin:0;

    padding-inline: .3rem;
}

.form-main > input[type=text] {
    border-bottom: 1px solid var(--main-accent);
    color: whitesmoke;
    font-size: 16px;

    padding-inline: .3rem;

}

.form-main > input[type=submit]{
    border: 1px solid transparent;
    background-color: var(--main-accent);
    color: whitesmoke;
    padding-inline: .3rem;


}

.form-main > select {
    border: 1px solid var(--main-accent);
    background-color: var(--main-element-background);
    padding-inline: .3rem;
}

